<nav class="fixed bottom-0 left-1/2 -translate-x-1/2 w-full max-w-[512px] z-50 flex justify-around items-center h-16 pb-safe bg-white border-t border-gray-200 shadow-[0_-4px_20px_rgba(0,0,0,0.05)] transition-transform duration-300 transform translate-y-0"
    id="bottom-nav">
    <a href="index.html"
        class="flex flex-col items-center justify-center text-red-900 font-bold active:scale-95 transition-transform group">
        <span class="material-symbols-outlined group-hover:-translate-y-1 transition-transform"
            data-icon="home">home</span>
        <span class="text-[10px] font-medium font-sans mt-0.5">Beranda</span>
    </a>
    <a href="tentangkami.html"
        class="flex flex-col items-center justify-center text-gray-500 hover:text-red-900 active:scale-95 transition-all group">
        <span class="material-symbols-outlined group-hover:-translate-y-1 transition-transform"
            data-icon="info">info</span>
        <span class="text-[10px] font-medium font-sans mt-0.5">Tentang</span>
    </a>
    <a href="katalog.html"
        class="flex flex-col items-center justify-center text-gray-500 hover:text-red-900 active:scale-95 transition-all group">
        <span class="material-symbols-outlined group-hover:-translate-y-1 transition-transform"
            data-icon="medication">medication</span>
        <span class="text-[10px] font-medium font-sans mt-0.5">Produk</span>
    </a>
    <a href="artikel.html"
        class="flex flex-col items-center justify-center text-gray-500 hover:text-red-900 active:scale-95 transition-all group">
        <span class="material-symbols-outlined group-hover:-translate-y-1 transition-transform"
            data-icon="newspaper">newspaper</span>
        <span class="text-[10px] font-medium font-sans mt-0.5">Artikel</span>
    </a>
    <a href="chat.html"
        class="flex flex-col items-center justify-center text-gray-500 hover:text-red-900 active:scale-95 transition-all group">
        <span class="material-symbols-outlined group-hover:-translate-y-1 transition-transform"
            data-icon="forum">forum</span>
        <span class="text-[10px] font-medium font-sans mt-0.5">Chat</span>
    </a>
</nav>
